<div class="panel panel-default">
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#springMessage('logo')</th>	
					<th>#springMessage('cnpj')</th>
					<th>#springMessage('razsoc')</th>
					<th>#springMessage('uf')</th>
					<th>#springMessage('municipio')</th>
					<th>#springMessage('telpri')</th>
					<th>#springMessage('acao')</th>
					<th><a href="#springUrl('/empresas')"><span class="glyphicon glyphicon-plus"></span> #springMessage('incluir')</a></th>				
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="empresa in empresas">
					<td>{{empresa.logo}}</td>
					<td>{{empresa.cnpj}}</td>
					<td>{{empresa.razao}}</td>
					<td>{{empresa.uf}}</td>
					<td>{{empresa.municipio}}</td>
					<td>{{empresa.telp}}</td>
					<td>
						<a href="#springUrl('/empresas/{{empresa.id}}')">#springMessage('editar')</a> /
						<a data-ng-click="excluir('#springUrl('/empresas/')'+empresa.id)">#springMessage('excluir')</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="text-center" ng-show="!empresas.length">#springMessage('emp.lis.vazio')</p>
	</div>
</div>