<div class="panel panel-default">
	<div class="panel-body">
		<legend>
			<h5 class="form-subpanel-title">
				<span class="glyphicon glyphicon-phone-alt"></span> <strong>#springMessage('contatos')</strong>
			</h5>
		</legend>
		
		<div class="form-group">
			<div class="col-sm-6 text-left">
				<label for="telp" class="control-label col-sm-4">#springMessage('telpri')</label>
				<div class="col-sm-6">
					<input id="telp" name="telp" type="text" class="form-control" data-ng-model="empresa.telp"
						 data-ng-init="empresa.telp = '$!{empresa.telp}'; telp_mascara = '$!{empresa.telp.length()}'=='18' ? tel_mascara9 : tel_mascara8" ui-mask="{{telp_mascara}}" required />
					<div class="error-container" data-ng-show="empForm.telp.$touched && empForm.telp.$invalid ">
						<small class="error" data-ng-show="empForm.telp.$error.required">#springMessage('campo.obrigatorio')</small>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						<input type="checkbox" data-ng-click="alterarMascara($event,'telp')" data-ng-checked="'$!{empresa.telp.length()}'=='18'" /> #springMessage('mudarDigitos')
					</div>
				</div>
			</div>
			<div class="col-sm-6">		
				<label for="tels" class="control-label col-sm-4">#springMessage('telsec')</label>
				
				<div class="col-sm-6">
					<input name="tels" type="text" class="form-control" data-ng-model="empresa.tels" 
						data-ng-init="empresa.tels = '$!{empresa.tels}'; tels_mascara = '$!{empresa.tels.length()}'=='18' ? tel_mascara9 : tel_mascara8" ui-mask="{{tels_mascara}}" />
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						<input type="checkbox" data-ng-click="alterarMascara($event,'tels')" data-ng-checked="'$!{empresa.tels.length()}'=='18'" /> #springMessage('mudarDigitos')
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="form-group">
			<div class="col-sm-6">
				<label for="fax" class="control-label col-sm-4">#springMessage('fax')</label>
				<div class="col-sm-6">
					<input name="fax" type="text" class="form-control" data-ng-model="empresa.fax" 
						data-ng-init="empresa.fax = '$!{empresa.fax}'; fax_mascara = '$!{empresa.fax.length()}'=='18' ? tel_mascara9 : tel_mascara8" ui-mask="{{fax_mascara}}" />
				</div>
				<div class="col-sm-2">
					<div class="checkbox">
						<input type="checkbox" data-ng-click="alterarMascara($event,'fax')" data-ng-checked="'$!{empresa.fax.length()}'=='18'" /> #springMessage('mudarDigitos')
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<label for="email" class="control-label col-sm-4">#springMessage('email')</label>
				<div class="col-sm-8">
					<input name="email" type="email" class="form-control" data-ng-model="empresa.email" 
						data-ng-init="empresa.email = '$!{empresa.email}'" />
					<div class="error-container" data-ng-show="empForm.email.$touched && empForm.email.$invalid ">
						<small class="error" data-ng-show="empForm.email.$error.email">#springMessage('msg.email.invalido')</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>