<div class="panel panel-default">
	<div class="panel-body">
		<legend>
			<h5 class="form-subpanel-title">
				<span class="glyphicon glyphicon-globe"></span> <strong>#springMessage('endereco')</strong>
			</h5>
		</legend>
		
		<div class="form-group">
			<div class="col-sm-6">
				<input name="logradouro" type="text" class="form-control" placeholder="#springMessage('logradouro')" 
					data-ng-model="empresa.logradouro" ng-init="empresa.logradouro = '$!{empresa.logradouro}'"
					data-ng-maxlength="150" required />
		
				<div class="error-container" data-ng-show="empForm.logradouro.$touched && empForm.logradouro.$invalid ">
					<small class="error" data-ng-show="empForm.logradouro.$error.required">#springMessage('campo.obrigatorio')</small>
					<small class="error" data-ng-show="empForm.logradouro.$error.maxlength">#springTextMessage('max.carac', [150])</small>
				</div>
			</div>
			
			<div class="col-sm-6">
				<input name="numero" type="number" class="form-control" placeholder="#springMessage('num')" 
					data-ng-model="empresa.numero" ng-init="empresa.numero = $!{empresa.numero}" 
						data-ng-maxlength="10" required />
		
				<div class="error-container" data-ng-show="empForm.numero.$touched && empForm.numero.$invalid ">
					<small class="error" data-ng-show="empForm.numero.$error.required">#springMessage('campo.obrigatorio')</small>
					<small class="error" data-ng-show="empForm.numero.$error.maxlength">#springMessageText('max.carac', [10])</small>
					<small class="error" data-ng-show="empForm.numero.$error.number">#springMessage('msg.numero')</small>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-6">
				<input name="complemento" type="text" class="form-control" placeholder="#springMessage('complemento')"
					data-ng-model="empresa.complemento" ng-init="empresa.complemento = '$!{empresa.complemento}'"
						data-ng-maxlength="150" />
			
				<div class="error-container" data-ng-show="empForm.complemento.$touched && empForm.complemento.$invalid ">
					<small class="error" data-ng-show="empForm.complemento.$error.maxlength">#springMessageText('max.carac', [150])</small>
				</div>
			</div>
			<div class="col-sm-4">
				<input name="municipio" type="text" class="form-control" placeholder="#springMessage('municipio')" 
				data-ng-model="empresa.municipio" ng-init="empresa.municipio = '$!{empresa.municipio}'"
					data-ng-maxlength="150" required />
		
				<div class="error-container" data-ng-show="empForm.municipio.$touched && empForm.municipio.$invalid ">
					<small class="error" data-ng-show="empForm.municipio.$error.required">#springMessage('campo.obrigatorio')</small>
					<small class="error" data-ng-show="empForm.municipio.$error.maxlength">#springMessageText('max.carac', [150])</small>
				</div>
			</div>
			<div class="col-sm-2">
				<input name="uf" type="text" class="form-control text-uppercase" placeholder="#springMessage('uf')" 
				data-ng-model="empresa.uf" ng-init="empresa.uf = '$!{empresa.uf}'" ui-mask="AA" required />
			
				<div class="error-container" data-ng-show="empForm.uf.$touched && empForm.uf.$invalid ">
					<small class="error" data-ng-show="empForm.uf.$error.required">#springMessage('campo.obrigatorio')</small>
				</div>
			</div>
		</div>
	</div>
</div>