/** General CSS rules */

body {
   background-color: #B0E0E6;
}

input.ng-valid {
  border: 1px solid green;
}

input.ng-invalid {
  border: 1px solid red;
}

input.ng-untouched {
  border: 1px solid #ccc;
}

.error {
  color: red;
}

.panel-default > .panel-heading {
   background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
   color: #333;
   font-weight: bold;
   text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

.form-subpanel-title {
   color: #555;
}

.control-label {
   color: #555;
   font-size:12px;
}